<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - WebRegistration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div th:if="${param.logout}">
    <p class ="text-warning">You have been logged out.</p>
</div>

<div class=" container text-center">
    <h1>test</h1>
    <div>
        <h3><a th:href="@{/users}">List All users</a></h3>
        <h3><a th:href="@{/register}">Register</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
    </div>
</div>



</body>
</html>