<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - WebRegistration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <style>
/* Style all input fields */



/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
ul {
  list-style-type: none;
}
</style>
</head>

<body>
<div>
    <div class="container text-center">
        <h2>Reset Your Password</h2>

    <form th:action="@{/reset_password}" method="post" style="max-width: 650px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}"/>
        <div class="border border-secondary rounded p-3">
            <div>
                <div  class="m-3">
                    <div class="form-grup row">
                        <label class="col-form label">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Enter your new password" required autofocus minlength="9" maxlength="20"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"  onkeyup="check();"/>
                        <label class="col-form label">Confirm Password</label>
                        <input type="password" class="form-control"
                               id="ConfirmPassword" name="psw" placeholder="Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" onkeyup="check();">
                        <ul>
                            <li >
                                <div id="message">
                                    <h3>Password must contain the following:</h3>
                                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                    <p id="number" class="invalid">A <b>number</b></p>
                                    <p id="length" class="invalid">Minimum <b>10 characters</b></p>
                            </li>
                        </ul>
                                </div>
                </div>
                <p class="text-center">
                    <input type="submit" id="mySubmit" value="Change Password" class="btn btn-primary"/>
                </p>

            </div>
        </div>
        <div id="message2"></div>
        </div>
        </div>

    </form>
</div>
</div>

<script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");


myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}


myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

myInput.onkeyup = function() {

  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }


  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 10) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }

}

</script>
<script>
    var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('ConfirmPassword').value) {
    document.getElementById('message2').style.color = 'green';
    document.getElementById('message2').innerHTML = 'Password matching';
     document.getElementById("mySubmit").disabled = false;
  } else {
    document.getElementById("mySubmit").disabled = false;
    document.getElementById('message2').style.color = 'red';
    document.getElementById('message2').innerHTML = 'Password not matching';
    document.getElementById("mySubmit").disabled = true;

  }
}
</script>
</body>

</html>